@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+12&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8ff;
  @apply transition-all duration-300;
}

.mainPageBox {
  @apply w-10/12 max-h-screen h-full overflow-auto max-lg:w-full;
}

.asidePageBox {
  @apply w-2/12 bg-[#fafafa] border max-h-screen h-full overflow-auto max-lg:hidden;
}

.mainPageBox::-webkit-scrollbar {
  display: none;
}

.info {
  font-family: "Tiny5", sans-serif;
}
.info2 {
  font-family: "Chocolate Classical Sans", sans-serif;
}
.info3 {
  font-family: "Jacquard 12", system-ui;
}
.info4 {
  font-family: "Dancing Script", cursive;
}

.hover-effect {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    #011222 90%,
    #011222 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

.hover-effect:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8ff;
  z-index: 10;
  @apply p-2 shadow-md;
}

#asideBar::-webkit-scrollbar {
  display: none;
}
